<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" ></meta>
    <title>My welcome page</title>
</head>
<body>
        <h1>First impresion of my page</h1>
        <!--/*@thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${variable}"></span>
<br></br>
        <!--/*@thymesVar id="one" type="com.crud.tasks.controller.StaticWebPageController"*/-->
        <!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
        <!--/*@thymesVar id="multiply" type="com.crud.tasks.controller.StaticWebPageController"*/-->
        <!--/*@thymesVar id="number" type="com.crud.tasks.controller.StaticWebPageController"*/-->
        <!--/*@thymesVar id="substract" type="com.crud.tasks.controller.StaticWebPageController"*/-->
        <!--/*@thymesVar id="add" type="com.crud.tasks.controller.StaticWebPageController"*/-->
        <!--/*@thymesVar id="result" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <span th:text="${one} + ${two}"></span>
<br></br>
<span  th:text="${number} + ${multiply} + ${number} + ${result} + ${two} * ${two}"></span>
<br></br>
<span th:text="(${number} + ${multiply} + ${number} + ${add} + ${number} + ${result}) + (${two} * ${two} + ${two})"></span>
<br></br>
<span th:text="(${number} + ${substract} + ${number} + ${multiply} + ${number} + ${result}) + (${two} - ${two} * ${two})"></span>

    </body>
    </html>